.wrapper {
  width: 100%;
  padding: 0 40rem;
  display: flex;
  justify-content: center;

  .array-list {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.each-item {
  margin-left: 1px;
  background-color: dodgerblue;
  flex: 1;
  text-align: center;
  font-size: x-small;
  color: white;
  &.sorted {
    background-color: hotpink;
  }
  &.selected {
    background-color: lawngreen;
  }
  &.done {
    background-color: darkcyan;
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 1rem;
  }
}
