<div id="toolbar">
  <button id="btnNewArray" (click)="generateNewArr()">New Array</button>
  <div class="separator"></div>
  <div class="ranges">
    <div class="each-range">
      <label for="changeSizeRange"> Change Array Size </label
      ><input
        #range
        type="range"
        (input)="onRangeChange($event)"
        min="3"
        max="100"
        [value]="arrService.defaultArrLength"
        id="changeSizeRange"
      />
    </div>
    <div class="each-range">
      <label for="speedSizeRange"> Sorting Speed </label
      ><input
        #speed
        type="range"
        (input)="onSpeedChange($event)"
        min="3"
        max="100"
        [value]="50"
        id="speedSizeRange"
      />
    </div>
  </div>

  <div class="separator"></div>
  <div class="algorithmButton currentAlgorithmButton">Merge Sort</div>
  <div class="algorithmButton">Quick Sort</div>
  <div class="algorithmButton">Heap Sort</div>
  <div class="algorithmButton">Bubble Sort</div>
  <div class="separator"></div>
  <button id="sort">Start Sorting!</button>
</div>
