<div id="toolbar">
  <button
    id="btnNewArray"
    [disabled]="isSortingStarted"
    (click)="generateNewArr()"
  >
    New Array
  </button>
  <div class="separator"></div>
  <div class="ranges">
    <div class="each-range">
      <label for="changeSizeRange"> Change Array Size </label
      ><input
        #range
        [disabled]="isSortingStarted"
        type="range"
        (input)="onArrySizeChange($event)"
        min="3"
        max="100"
        [value]="arrService.defaultArrLength"
        id="changeSizeRange"
      />
    </div>
    <div class="each-range">
      <label for="speedSizeRange"> Sorting Speed </label
      ><input
        #speed
        type="range"
        (input)="onSpeedChange($event)"
        min="0"
        max="100"
        [value]="50"
        id="speedSizeRange"
      />
    </div>
  </div>

  <div class="separator"></div>
  <button
    class="button button-outline algorithmButton"
    [ngClass]="{ currentAlgorithmButton: isMergeSortSelected }"
    (click)="makeAllBtnFalse(); isMergeSortSelected = true"
    [disabled]="isSortingStarted"
  >
    Merge Sort
  </button>
  <button
    class="button button-outline algorithmButton"
    [ngClass]="{ currentAlgorithmButton: isQuickSortSelected }"
    (click)="makeAllBtnFalse(); isQuickSortSelected = true"
    [disabled]="isSortingStarted"
  >
    Quick Sort
  </button>
  <button
    class="button button-outline algorithmButton"
    [ngClass]="{ currentAlgorithmButton: isHeapSortSelected }"
    (click)="makeAllBtnFalse(); isHeapSortSelected = true"
    [disabled]="isSortingStarted"
  >
    Heap Sort
  </button>
  <button
    class="button button-outline algorithmButton"
    [ngClass]="{ currentAlgorithmButton: isBubbleSortSelected }"
    (click)="makeAllBtnFalse(); isBubbleSortSelected = true"
    [disabled]="isSortingStarted"
  >
    Bubble Sort
  </button>
  <div class="separator"></div>
  <button id="sort" (click)="onStartSorting()" [disabled]="isSortingStarted">
    Start Sorting!
  </button>
</div>
