<div id="toolbar">
  <button id="btnNewArray" (click)="generateNewArr()">New Array</button>
  <div class="separator"></div>
  <div id="arraySize">
    <label for="changeSize"> Change Array Size &amp; Sorting Speed </label
    ><input
      #range
      type="range"
      (input)="onRangeChange($event)"
      min="7"
      max="100"
      [value]="arrService.defaultArrLength"
      id="changeSize"
      style="background: white; cursor: pointer"
    />
  </div>

  <div class="separator"></div>
  <div class="algorithmButton currentAlgorithmButton">Merge Sort</div>
  <div class="algorithmButton">Quick Sort</div>
  <div class="algorithmButton">Heap Sort</div>
  <div class="algorithmButton">Bubble Sort</div>
  <div class="separator"></div>
  <button id="sort">Start Sorting!</button>
</div>
